img{
    width: 350px;
    height: 350px;
    border-radius: 22px;
    border: 9px double black;
    margin-top: 3%;
    box-shadow: 10px 10px 2px 5px ;

}


.picStyle{
 
    border: black double 2px;
    width: 86%;
    margin-left: 8%;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(216, 122, 60);
    word-wrap: break-word;

}
section {
    background-color: rgb(97, 71, 209);
    display: flex;
    justify-content: center;
    transition: 800ms;
    flex-wrap: wrap;
}
    button{
        cursor: pointer;
        width: 100px;
        border-radius: 10px;
        margin-bottom: 0.5%;
        transition: 500ms;
    }

    button:hover{
        cursor: pointer;
        width: 100px;
        border-radius: 10px;
        margin-bottom: 0.5%;
        transition: 500ms;
        background-color: rgb(241, 72, 241);
    }

  

  hr{
      margin: 3%;
  }