body{
    background-color: cornflowerblue;
}



h1{
    font-size: 44px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }

  h2{
    font-size: 25px;
    font-weight: bold;
  }

img{
    width: 340px;
    height: 340px;
    border: 5px black double;
    border-radius: 12px;
}

.firstIMG {
    margin-top: 9%;
}

.picStyle{

    background-color: darkgray;
    border: black double 2px;
    width: 80%;
    margin-left: 11%;
    text-align: center;
    float: left;
    border-radius: 20px;
    

}main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }